<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/global.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>Sobre Nós</title>
    </head>

    <body>
        <div class="container-fluid">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light mt-5">
                  <img src="img/cripto.png" id="logo" alt="" />
                  <a class="navbar-brand" href="/">Cripto Store</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#">Perfil</a>
                      </li>
                      <li class="nav-item"><a href="#" class="nav-link disabled">Adicionar Cripto Moedas</a></li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Categorias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navabarDropdown">
                          <a href="#" class="dropdown-item"></a>
                        </div>
                      </li>
                      <li class="nav-item"><a href="/account" class="nav-link">Criar Conta</a></li>
                      <li>
                        <a href="/about" class="nav-link disabled">Sobre Nós</a>
                      </li>
                        
                    </ul>
                  </div>
                </nav>
              </header>
          
              <main>
                <article>
                    <div class="mt-5">
                        <h1>Quem Somos</h1>
                        <p>
                            Somos estudantes do curso de Desenvolvimento de Sistemas na Instituição Proz Educação,<br>
                            localizada em Belo Horizonte, Minas Gerais. <br>
                            Nosso site tem como foco principal compra e venda de moedas.
                        </p>
                    </div>
                </article>
                <article>
                    <h1>Informaçoes uteis</h1>
                    <p>O site foi feito utilizando bootstrap, mas tecnologias basicas e semanticas do html e css</p>
                </article>
            </main>
    
            <footer>
                <p>Site feito por <a href="https://github.com/joaovtk" class="link-opacity-25-hover link-underline-warning link-offset-3 link-secondary" target="_blank" rel="external">Joao Vitor Soares dos Reis</a></p>
                <p>Site feito por <a href="https://github.com/eduardoodb" target="_blank" class="link-opacity-25-hover link-underline-warning link-offset-3 link-secondary" rel="external">Eduardo Oliveira Delo Bócio</a></p>
                <p>Site feito por <a href="https://github.com/Adalberto-Franca" class="link-opacity-25-hover link-underline-warning link-offset-3 link-secondary" target="_blank" rel="external">Adalberto França</a></p>
                <p>Site feito por <a href="https://github.com/oiesheley" class="link-opacity-25-hover link-underline-warning link-offset-3 link-secondary" target="_blank" rel="external">Esheley</a></p>
                <p>Site feito por <a href="https://github.com/guilhermegomesss" class="link-opacity-25-hover link-underline-warning link-offset-3 link-secondary" target="_blank" rel="external">Guilherme</a></p>
                <p>Visite o <a href="https://github.com/joaovtk/CriptoStore" rel="external" target="_blank" class="link-opacity-25-hover link-underline-sucess link-offset-3 link-secondary">Repositorio Oficial</a></p>

                <p>&copy; 2023 Cripto Store</p>
                
            </footer>
        </div>
    </body>
</html>