@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#logo {
    width: 50px;
}

.brand {
  width: 50px;
  margin-bottom: 10px;
}
.cripto {
  font-size: 25pt;
}

header {
  text-align: center;
}

#cart {
  width: 50px;
}
#cart:hover {
  cursor: pointer;
}