@charset "UTF-8";

article {
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #646E78;
}
img {
  display: block;
  width: 10vw;
}

.btn {
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: #8D98A7;
  color: #fff;
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 15pt;
}

#add {
  font-size: 150pt;
  background-color: #646E78;
  color: #fff;
  width: 25vw;
  height: 41vh;
}

#add > img {
  width: 80%;
}

#logo {
  width: 50px;
}

p, label {
  font-size: 15pt;
  color: #fff;
}

.exclude {
  text-decoration: line-through;
}