@charset "UTF-8";

article {
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #646E78;
}

label {
  font-size: 15pt;
}

nav {
  width: 100vw;
}

.product {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.product {
  background-color: #464B52;
  width: 300px;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  font-size: 15pt;
  color: #fff;
}

.product .name {
  font-size: 25pt;
}

.product img {
  width: 90%;
  border-radius: 15px;
}
